debug = true

# 来源db链接配置
[mongo]
source_uri = "mongodb://root:123456@master:27017/goods?maxPoolSize=10"
source_version = 4.0

# 目标mongo同步配置
[[sync]]
enable = false
type = "mongo" # mongo elasticsearch mysql file 一种输出类型只能配置一个，如果多个，请开启多个程序
destination_uri = "mongodb://root:123456@master:27019/goods_bak?maxPoolSize=10"
source_db = "goods"
destination_db = "goods_bak" # 当 type=file 时此字段为输出文件名

# 同步的集合对照 key:来源集合 val:目标集合或表等
[sync.collections]
demo = "demo_bak"

[sync.collection_field]
demo = ["id", "name"]

# 目标file同步配置
[[sync]]
enable = false
type = "file" # mongo elasticsearch mysql file 一种输出类型只能配置一个，如果多个，请开启多个程序
destination_uri = ""
source_db = "goods"
destination_db = "goods_bak" # 当 type=file 时此字段为输出文件名

# 同步的集合对照 key:来源集合 val:目标集合或表等
[sync.collections]
demo = "demo_bak"

# 目标elasticsearch同步配置
[[sync]]
enable = false
type = "elasticsearch" # mongo elasticsearch mysql file 一种输出类型只能配置一个，如果多个，请开启多个程序
destination_uri = "http://127.0.0.1:9200" # 多个分号分割
source_db = "goods"
destination_db = "goods_index" # 当 type=elasticsearch 时此字段为index

# 同步的集合对照 key:来源集合 val:目标集合或表等 当 type=elasticsearch 时此字段为type
[sync.collections]
demo = "demo_bak"

# 需要同步的字段列表 - 下标为来源db的collection名值为同步的字段列表
[sync.collection_field]
demo = ["id", "name", "age"]

# 目标mysql同步配置 - 数据表需要存在document_key字段，切有唯一索引
[[sync]]
enable = true
type = "mysql" # mongo elasticsearch mysql file 一种输出类型只能配置一个，如果多个，请开启多个程序
destination_uri = "root:123456@tcp(127.0.0.1:3306)/goods?charset=utf8&parseTime=true&loc=Local"
source_db = "goods"
destination_db = "goods" # 当 type=mysql 时此字段为db名

# 同步的集合对照 key:来源集合 val:目标集合或表等
[sync.collections]
demo = "demo_bak"

[sync.collection_field]
demo = ["id", "name"]
